@import '../../styles/variables';

.card-languages{
    border-radius: .5rem;
    border: 2px solid $primary-200;
    width: fit-content;
    max-width: 13.4375rem;
    position: relative;

    .title{
        position: absolute;
        top: -1rem;
        left: .8rem;
        background: $primary-500;
        padding: 0.125rem .5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.125rem;
        color: #fff;
    }

    .list-languages{
        margin: 2rem 0;
        padding-inline: 1.5rem;

        .item{
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: #FFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 1rem;

            & + .item {
                margin-top: 1rem;
            }

            span{
                background: #202B45;
                color: #DBDBDB;
                padding: 0.375rem .5rem;
                border-radius: 0.25rem;
            }
        }
    }
}