.container{
    max-width: 75rem;
    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3.25rem;
    margin-top: 5rem;
    padding-inline: 1rem;
}